body {
  font-family: sans-serif;
  width: 100%;
}

#hider {
  display: none;
}

#hider:checked + .task {
  display: none;
}

.task {
  padding: 50px 150px;
}

.title{
  margin: 0 auto;
}

.task .task__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.task__step {
 flex: 1
}

 span{
  font-weight: bold;
}

.canvas-block {
  margin: 0 auto;
  padding: 100px 0;
  width: 90%;
  height: 90%;
  display: flex;
  position: relative;
}

.canvas {
  margin: 0  auto;
}


